
@{

}

<h3 class="content-title">Elavon 3DS Webflow</h3>
<div><button class="paybtn">All In One</button></div>
<div id="holder"
     style="margin: 10px; border: 1px solid #ddd; min-height: 100px;">
</div>